<div class="routecooser">
	<div class="routecooser__segment">
		<span class="on routecooser__segment__text">{{_ "В одну сторону"}}</span>
	</div>
	<div class="routecooser__segment">
		<span class="off routecooser__segment__text">{{_ "Туда и обратно"}}</span>
	</div>
	<div class="routecooser__segment">
		<span class="off routecooser__segment__text">{{_ "Сложный маршрут"}}</span>
	</div>
</div>

<!-- or -->

<div class="routecooser">
  <ul class="routecooser__layout">
    <li class="routecooser__layout-unit">
      <div class="routecooser__item">{{_ "В одну сторону"}}</div>
    </li>
    <li class="routecooser__layout-unit">
      <div class="routecooser__item routecooser__item_state_current">{{_ "Туда и обратно"}}</div>
    </li>
    <li class="routecooser__layout-unit">
      <div class="routecooser__item">{{_ "Сложный маршрут"}}</div>
    </li>
  </ul>
</div>